*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  max-height: 100vh;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #f3ffff;
  text-align: center;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #014689;
  height: 150px;
  width: 400px;
  margin: 0 auto;
  border: 4px solid #f3ffff;
  border-radius: 20px;
}

.player-score,
.computer-score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: inherit;
  width: 100px;
}

.player,
.computer {
  color: #f3ffff;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline #f3ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-computer,
.score-human {
  background-color: #000;
  border: 4px solid #f3ffff;
  border-radius: 10px;
  color: #ea4225;
  font-family: 'Seven Segment', sans-serif;
  font-weight: bold;
  font-size: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 385px;
  max-width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-choose p,
.computer-choose p {
  color: #ffd700;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline #ffd700;
}

.circle {
  background-color: #87ceeb;
  border: 3px solid #3b83bd;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-top: 20px;
}

.image-container {
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  height: 100%;
  width: 100%;
}

.vs-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 200px;
  width: 200px;
}

.game-play p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  text-align: center;
}

.win-condition {
  color: #f5f5dc;
  font-size: 18px;
}

.round-results {
  color: #f3ffff;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
